.aboutus_shine {
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.aboutus_shine::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: -250px;
    right: -100px;
    width: 1000px;
    height: 1000px;
    background: #5956e9;
    transform: rotate(-20deg);
}

@media screen and (max-width: 450px) {
    .aboutus_shine::before {
        z-index: -1;
        content: "";
        position: absolute;
        top: -150px;
        left: 250px;
        width: 700px;
        height: 1000px;
        background: #5956e9;
        transform: rotate(-20deg);
    }
}