.productSliderSecondary .slick-current img{
    border: 1px solid #753bfc;    
    padding: 4px;
    background: #ffffff;
    border-radius: 5px;
}

.ant-collapse-expand-icon {
    padding-top: 6px;
}

.ant-collapse-header-text {
    font-size: 20px;
    font-family: "Montserrat";
}

.ant-collapse-content-box {
    font-size: 20px;
    font-family: "Montserrat";
}

@media screen and (max-width:680px) {
    .ant-collapse-header-text {
        font-size: 14px;
    }
    .ant-collapse-content-box {
        font-size: 14px;
    }
}